<h1>@ViewData["Title"]</h1>
<body style="background-color:mintcream; text-align:center;">
<header>



<h1>About Us</h1>
</header>
<hr>
<footer>
<p>
	Since its founding in 1831, NYU has been an innovator in higher education, reaching out to an emerging middle class, embracing an urban identity and professional focus, and promoting a global vision that informs its 19 schools and colleges.

Today, that trailblazing spirit makes NYU one of the most prominent and respected research universities in the world, featuring top-ranked academic programs and accepting fewer than one in eight undergraduates. Anchored in New York City and with degree-granting campuses in Abu Dhabi and Shanghai as well as 11 study away sites throughout the world, NYU is a leader in global education, with more international students and more students studying abroad than any other US university.

NYU students come from nearly every state and 133 countries, and the university draws upon the diverse backgrounds of our faculty, staff, and students, ensuring its scholarship and teaching benefit from a wide range of perspectives. NYU takes seriously its role as an engine of social mobility, and stands out among the top US universities in its representation of low-income and first-generation students within its community.

Now among the largest private universities in the US, NYU provides a rigorous, demanding education to more than 65,000 students and undertakes $1 billion in research annually. It counts among its faculty recipients of the highest scholarly honors and is a top producer of patents and revenue from licensing among US universities. NYU has a vast network of alumni who have gone on to succeed across professions, from the sciences to the arts and government, throughout the world.
<br>
<a href="MailTo:College@College.com">Newyorkuniversity.com</a>
</p>
</footer>




</body>
