<h1>@ViewData["Title"]</h1>
<table>
<tr>
<td>Name</td>
<td><input type="text" name="Name" /></td>
</tr>
<tr>
<td>Subject:</td>
<td><input type="text" name="Subject" /></td>
</tr>
<tr>
<td>Email:</td>
<td><input type="text" name="Email" /></td>
</tr>
<tr>
<td valign="top">Body:</td>
<td><textarea cols="20" rows="5" name="Body"></textarea></td>
</tr>
<tr>
<td>Attachment:</td>
<td><input type="file" name="Attachment" /></td>
</tr>
<tr>
<td></td>
<td><input type="submit" value="Send" /></td>
</tr>
</table>
