<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/88f40781-224e-456b-9a21-3e76be971498/resourcegroups/NetworkWatcherRG/providers/Microsoft.Web/sites/MiniProjectAzure20220705155400</ResourceId>
    <ResourceGroup>NetworkWatcherRG</ResourceGroup>
    <ApiResourceId>/subscriptions/88f40781-224e-456b-9a21-3e76be971498/resourceGroups/NetworkWatcherRG/providers/Microsoft.ApiManagement/service/MiniProjectAzureapi1/apis/MiniProjectAzure</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://miniprojectazure20220705155400.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>9bf12cf9-e991-41bb-b5c3-1c8352df0a26</ProjectGuid>
    <MSDeployServiceURL>miniprojectazure20220705155400.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MiniProjectAzure20220705155400</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$MiniProjectAzure20220705155400</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>